cloud_id                 = "b1gn73tbe2qk15670npt"
folder_id                = "b1gcdiortk5emo3rpmrj"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bv6d82mgstqlgvpp56"
app_disk_image           = "fd80kp9ut31q0ct35sev"
db_disk_image           = "fd8bpim67vud7a441ngq"