cloud_id  = "b1gn73tbe2qk156701npt"
folder_id = "b1gcdiortk5emo3rp3mrj"
zone      = "ru-central1-a"
image_id = "fd82n0voubrvbt1mqlh3b"
public_key_path = "ubuntu/.ssh/ubuntu.pub"
subnet_id = "e9bsme7dofhmmcd6t25ev"
service_account_key_file = "files/example.json"
private_key_file = "ubuntu/.ssh/ubuntu"
network_id = "234enpm2t2gjl8bbab3v"
